.props-table,
.events-table,
.slots-table {
  @apply table-fixed;
  tbody tr {
    @apply border-t;
  }
  tbody td:nth-child(1) {
    @apply w-1/6 font-mono text-primary-dark;
    a {
      color: inherit;
    }
    span {
      font-size: 0.875em;
    }
  }

  @media (max-width: 639px) {
    &,
    tbody,
    thead {
      display: block;
      width: 100%;
    }
    thead {
      display: none;
    }
    tr {
      display: block;
      flex-wrap: wrap;
    }
    th,
    td {
      display: block;
      width: 100% !important;
      padding: 4px 0px !important;
    }
  }
}
.props-table tbody td:nth-child(2),
.events-table tbody td:nth-child(2) {
  @apply w-1/6 font-mono text-green-700;
  span {
    font-size: 0.875em;
  }
}

.slots-table tbody td:nth-child(2),
.events-table tbody td:nth-child(3),
.props-table tbody td:nth-child(4) {
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.slots-table tbody td:nth-child(2) {
  @apply w-5/6 space-y-2;
}
.events-table tbody td:nth-child(3) {
  @apply w-4/6 space-y-2;
}
.props-table tbody td:nth-child(4) {
  @apply w-3/6 space-y-2;
}
.props-table {
  tbody td:nth-child(3) {
    @apply w-1/6 font-mono text-blue-900;
    span {
      font-size: 0.875em;
    }
  }
}
