.prose a {
  font-weight: inherit;
  @apply text-primary no-underline;
  &:hover {
    @apply hover:underline;
  }
  code {
    color: inherit;
  }
}
.prose {
  @apply text-gray-500;
}
.prose p{
  @apply dark:text-dark-lightGray;
}
.prose li::marker {
  @apply dark:text-dark-lightGray;
}
.prose code:before,
.prose code:after {
  // display: none;
}
.prose code {
  // background: #f5f5f5;
  // padding: 1px 4px;
  // border-radius: 4px;
  font-weight: 500;
}
.prose > ul > li code {
  word-break: break-word;
}
.prose pre code {
  background: transparent;
  border-radius: 0px;
  padding: initial;
}
.prose pre {
  border-radius: 0.75rem;
}
.prose th {
  @apply text-gray-600 dark:text-dark-lightGray;;
}
.prose td {
  @apply dark:text-dark-lightGray;
}
