.prose a {
  font-weight: inherit;
  @apply text-primary no-underline;
  &:hover {
    @apply hover:underline;
  }
  code {
    color: inherit;
  }
}
.prose {
  @apply dark:text-dark-text text-gray-500;
}
.prose li::marker {
  @apply dark:text-dark-text;
}
.prose code:before,
.prose code:after {
}
.prose code {
  font-weight: 500;
}
.prose > ul > li code {
  word-break: break-word;
}
.prose pre code {
  background: transparent;
  border-radius: 0px;
  padding: initial;
}
.prose pre {
  border-radius: 0.75rem;
  @apply dark:!bg-dark-code;
}
.prose th {
  @apply dark:text-dark-text text-gray-600;
}
.prose td {
  @apply dark:text-dark-text;
}
.prose {
  h1,
  h2,
  h3,
  h4 {
    @apply scroll-mt-20;
  }
}
