body .prose a {
  @apply text-primary no-underline;
  &:hover {
    @apply hover:underline;
  }
}
body .prose {
  @apply text-gray-600;
}
body .prose code:before,
body .prose code:after {
  display: none;
}
body .prose code {
  background: #f5f5f5;
  padding: 1px 4px;
  border-radius: 4px;
  font-weight: 500;
}
.prose > ul > li code {
  word-break: break-word;
}
body .prose pre code {
  background: transparent;
  border-radius: 0px;
  padding: initial;
}
body .prose pre {
  border-radius: 0.75rem;
}
